html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	color: #fff;
}

.container {
	padding-top: 7%;
	padding-left: 2%;
	padding-right: 2%;
}
.scrolling-wrapper-flexbox {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.scrolling-wrapper-flexbox::-webkit-scrollbar { 
	display: none; 
}

.wrapper-flexbox {
	display: flex;   
	flex-wrap: wrap;
}

.listing {
	margin-bottom: 20px;
}

.card {
	display: contents !important;
}

.list-image {
	margin: 10px;
	width: 170px;
	height: 270px;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.img-caption {
	text-align: center;
	width: 170px;
}

.login-form {
	margin-left: auto;
	margin-right: auto;
}

.movie-profile-img {
	height: 400px;
	float: left;
	margin-right: 20px;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.ratings-graph {
	display: -webkit-box;
}

.autcomplete-item {
	margin: 2%;
}

.search-box {
	width:430px !important;
}

.search-bar-item-img {
	max-height: 150px !important;
}

.search-bar-item {
	color: #000;
	display: flex;
}

.search-bar-item-title {
	padding: 7px;
}


.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 430px;
    margin-top: 3px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*border-radius: 8px;*/
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}